.game-card {
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(42, 42, 42, 0.8);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
}

.game-card:hover{
    box-shadow: -5px 5px 10px rgb(26, 26, 26);
    transform: scale(1.01);
    transition: all 0.3s ease-out;
}

.game-info {
    padding: 15px;
    display: flex;

    justify-content: space-between;
    color: #ffffff;
    font-size: x-small;
}

.play:hover{
    transform: scale(1.5);
    color: #2bb7a0;
    transition: all 0.5s ease-out;
}

.deck {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.deck h1 {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 10px;
    color: rgb(240, 240, 240);
}

.slide-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-slider {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    overflow-x: scroll;
    padding: 10px 0;
}

.card-slider::-webkit-scrollbar {
    height: 8px;
}

.card-slider::-webkit-scrollbar-thumb {
    background: #0f473e;
    border-radius: 10px;
}

.card-slider::-webkit-scrollbar-thumb:hover {
    background: #012a24;
}

@media (max-width: 480px){
    .deck h1{
        text-align: center;
        margin-left: 10px;
        font-size: medium;
    }

    .card-slider{
        margin-left: 10px;
        font-size: medium;
        flex-direction: column;
    }

}