.game-card{
   max-width: 300px; 
   height: auto;
   display: flex;
   flex-direction: column;
}

.game-info{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-slider{
    position: absolute;
}