@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/FontdinerSwanky-Regular.ttf') format('truetype');
}

/* Apply the font to the body or specific elements */
body {
  font-family: 'CustomFont', sans-serif;
}

/*background image styling*/
.background{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #A4FFF4;
}

.background img{
  z-index: -2;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.background h1{
  position: absolute;
  text-shadow: -2px 6px 5px rgba(0, 0, 0);
  font-size: 6rem;
}


.navbar{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width:100% ;
  padding: 10px;
  z-index: 1;
  color: rgb(240, 240, 240);
  background-color: rgba(10, 10, 10, 0.5);
}

.logo{
  font-size:x-large;
  text-shadow: -2px 6px 5px rgba(0, 0, 0);
}

.right{
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.buttons, .search{
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
}

.buttons h2, .icon{
  margin: 10px;
}

.search input{
  height: 80%;
  font-size: smaller;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(10, 10, 10, 0.5);
  color: rgb(200, 200, 200);
}

.footer{
  width: 100%;
  overflow: hidden;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
  background-color: rgba(10, 10, 10);
  color: rgb(119, 118, 118);
  cursor:default;
  
}

.footer a, p{
  font-weight: 600;
  
}

a{
  cursor: pointer;
}

.footer a:hover {
  text-decoration: underline;
  color: rgb(173, 173, 173);
}